.menu_three_section {
    border: 1px solid gray;
    background-color: rgb(236, 236, 236);
    display: flex;
    padding: 0%;
    margin: 0%;
}

.menu_three_section button {
    width: 50%;
    border: none;
    border-right: 1px solid black;
}

/* .active {
    color: red;
}
  */